body {
    border: 0;
    margin: 0;
    padding: 0;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
}

nav.cabecalho {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgb(0, 255, 3);
    height: 10vh;
}

/* .menu {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgb(17, 0, 255);
    height: 30px;
} */

.conteudo {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: aqua;
    height: 80vh;
}

/* footer.rodape {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgb(0, 255, 3);
    font-family: sans-serif;
    font-weight: bold;
} */

.latesq{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: blue;
    height: 80vh;
}

.latdir{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: blue;
    height: 80vh;
}

footer.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 3);
    height: 10vh;
}